<div class="oei-network-legend__row">
  <span class="oei-network-legend__icon oei-network-legend__icon--domain"></span>
  {{ i18n.translate('network.legend.domain') }}
</div>
<div class="oei-network-legend__row">
  <span class="oei-network-legend__icon oei-network-legend__icon--concept"></span>
  {{ i18n.translate('network.legend.concept') }}
</div>
<div class="oei-network-legend__row">
  <span class="oei-network-legend__icon oei-network-legend__icon--cert"></span>
  {{ i18n.translate('network.legend.certification') }}
</div>
<div class="oei-network-legend__row">
  <span class="oei-network-legend__icon oei-network-legend__icon--expert"></span>
  {{ i18n.translate('network.legend.expert') }}
</div>
