.oei-admin-email-templates {
  &__header {
    margin-bottom: 0.75rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem 0.75rem;
      border-bottom: 1px solid rgba(10, 30, 63, 0.15);
    }
  }
}
