<div
  class="oei-network-page"
  [class.oei-network-page--fullscreen]="fullscreen()"
  (keydown)="onKeydown($event)"
>
  <div class="oei-network-page__stage">
    <oei-network-canvas
      [fCountry]="fCountry()"
      [fLevel]="fLevel()"
      [fProv]="fProv()"
      [journey]="journey()"
      (crumbChanged)="onCrumbChanged($event)"
      (openExpertProfileRequested)="openExpertProfile()"
    />

    <oei-network-breadcrumb [domainLabel]="crumb().domainLabel" [depth]="crumb().depth" />

    <oei-network-search-bar
      [query]="searchQuery()"
      [results]="results()"
      (queryChange)="onSearchInput($event)"
      (resultPicked)="pickResult($event)"
    />

    <oei-network-filters
      [open]="filtersOpen()"
      [countryChips]="countryChips()"
      [levelChips]="levelChips()"
      [providerChips]="providerChips()"
      (toggleOpen)="toggleFilters()"
      (chipToggled)="toggleChip($event)"
      (reset)="resetFilters()"
    />

    @if (dossierOn()) {
      <oei-network-dossier-panel
        [node]="selNode()"
        [topics]="expTopics()"
        (close)="closePanel()"
        (openProfile)="openExpertProfile()"
        (startJourney)="startJourney()"
      />
    }

    @if (journey(); as j) {
      <oei-network-journey-bar
        [journey]="j"
        [currentLabel]="journeyCurrentLabel()"
        (prev)="journeyGo(-1)"
        (next)="journeyGo(1)"
        (close)="journeyClose()"
      />
    }

    @if (hintOn()) {
      <div class="oei-network-page__hint">{{ i18n.translate('network.hint') }}</div>
    }

    <oei-network-legend />

    <button
      type="button"
      class="oei-network-page__fullscreen-toggle"
      [class.oei-network-page__fullscreen-toggle--exit]="fullscreen()"
      (click)="toggleFullscreen()"
    >
      @if (fullscreen()) {
        {{ i18n.translate('network.fullscreen.exit') }}
      } @else {
        {{ i18n.translate('network.fullscreen.enter') }}
      }
    </button>
  </div>
</div>
